SECRET_KEY=your_secret
DEBUG=value
ALLOWED_HOSTS=localhost, \
    127.0.0.1, \
    your_domen

POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_NAME=kittygram
